[*.cs]

dotnet_diagnostic.SA0001.severity = none

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = none

# S112: General exceptions should never be thrown
dotnet_diagnostic.S112.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = none

# S1075: URIs should not be hardcoded
dotnet_diagnostic.S1075.severity = none
